<!--=======================Row One=============================-->

<div *ngIf="figura[0]==0" (click)="cambiarColor(0,1)" class="box1"></div>
<div *ngIf="figura[0]==1" (click)="cambiarColor(0,0)" class="boxOn1"></div>

<div *ngIf="figura[1]==0" (click)="cambiarColor(1,1)" class="box2"></div>
<div *ngIf="figura[1]==1" (click)="cambiarColor(1,0)" class="boxOn2"></div>

<div *ngIf="figura[2]==0" (click)="cambiarColor(2,1)" class="box3"></div>
<div *ngIf="figura[2]==1" (click)="cambiarColor(2,0)" class="boxOn3"></div>

<div *ngIf="figura[3]==0" (click)="cambiarColor(3,1)" class="box4"></div>
<div *ngIf="figura[3]==1" (click)="cambiarColor(3,0)" class="boxOn4"></div>

<div *ngIf="figura[4]==0" (click)="cambiarColor(4,1)" class="box5"></div>
<div *ngIf="figura[4]==1" (click)="cambiarColor(4,0)" class="boxOn5"></div>

<!--=======================Row Two=============================-->

<div *ngIf="figura[5]==0" (click)="cambiarColor(5,1)" class="boxTwo1"></div>
<div *ngIf="figura[5]==1" (click)="cambiarColor(5,0)" class="boxTwoOn1"></div>

<div *ngIf="figura[6]==0" (click)="cambiarColor(6,1)" class="boxTwo2"></div>
<div *ngIf="figura[6]==1" (click)="cambiarColor(6,0)" class="boxTwoOn2"></div>

<div *ngIf="figura[7]==0" (click)="cambiarColor(7,1)" class="boxTwo3"></div>
<div *ngIf="figura[7]==1" (click)="cambiarColor(7,0)" class="boxTwoOn3"></div>

<div *ngIf="figura[8]==0" (click)="cambiarColor(8,1)" class="boxTwo4"></div>
<div *ngIf="figura[8]==1" (click)="cambiarColor(8,0)" class="boxTwoOn4"></div>

<div *ngIf="figura[9]==0" (click)="cambiarColor(9,1)" class="boxTwo5"></div>
<div *ngIf="figura[9]==1" (click)="cambiarColor(9,0)" class="boxTwoOn5"></div>

<!--=======================Row Three=============================-->

<div *ngIf="figura[10]==0" (click)="cambiarColor(10,1)" class="boxThree1"></div>
<div *ngIf="figura[10]==1" (click)="cambiarColor(10,0)" class="boxThreeOn1"></div>

<div *ngIf="figura[11]==0" (click)="cambiarColor(11,1)" class="boxThree2"></div>
<div *ngIf="figura[11]==1" (click)="cambiarColor(11,0)" class="boxThreeOn2"></div>

<div *ngIf="figura[12]==0" (click)="cambiarColor(12,1)" class="boxThree3"></div>
<div *ngIf="figura[12]==1" (click)="cambiarColor(12,0)" class="boxThreeOn3"></div>

<div *ngIf="figura[13]==0" (click)="cambiarColor(13,1)" class="boxThree4"></div>
<div *ngIf="figura[13]==1" (click)="cambiarColor(13,0)" class="boxThreeOn4"></div>

<div *ngIf="figura[14]==0" (click)="cambiarColor(14,1)" class="boxThree5"></div>
<div *ngIf="figura[14]==1" (click)="cambiarColor(14,0)" class="boxThreeOn5"></div>

<!--=======================Row Four=============================-->

<div *ngIf="figura[15]==0" (click)="cambiarColor(15,1)" class="boxFour1"></div>
<div *ngIf="figura[15]==1" (click)="cambiarColor(15,0)" class="boxFourOn1"></div>

<div *ngIf="figura[16]==0" (click)="cambiarColor(16,1)" class="boxFour2"></div>
<div *ngIf="figura[16]==1" (click)="cambiarColor(16,0)" class="boxFourOn2"></div>

<div *ngIf="figura[17]==0" (click)="cambiarColor(17,1)" class="boxFour3"></div>
<div *ngIf="figura[17]==1" (click)="cambiarColor(17,0)" class="boxFourOn3"></div>

<div *ngIf="figura[18]==0" (click)="cambiarColor(18,1)" class="boxFour4"></div>
<div *ngIf="figura[18]==1" (click)="cambiarColor(18,1)" class="boxFourOn4"></div>

<div *ngIf="figura[19]==0" (click)="cambiarColor(19,1)" class="boxFour5"></div>
<div *ngIf="figura[19]==1" (click)="cambiarColor(19,0)" class="boxFourOn5"></div>

<!--=======================Row Five=============================-->

<div *ngIf="figura[20]==0" (click)="cambiarColor(20,1)" class="boxFive1"></div>
<div *ngIf="figura[20]==1" (click)="cambiarColor(20,0)" class="boxFiveOn1"></div>

<div *ngIf="figura[21]==0" (click)="cambiarColor(21,1)" class="boxFive2"></div>
<div *ngIf="figura[21]==1" (click)="cambiarColor(21,0)" class="boxFiveOn2"></div>

<div *ngIf="figura[22]==0" (click)="cambiarColor(22,1)" class="boxFive3"></div>
<div *ngIf="figura[22]==1" (click)="cambiarColor(22,0)" class="boxFiveOn3"></div>

<div *ngIf="figura[23]==0" (click)="cambiarColor(23,1)" class="boxFive4"></div>
<div *ngIf="figura[23]==1" (click)="cambiarColor(23,0)" class="boxFiveOn4"></div>

<div *ngIf="figura[24]==0" (click)="cambiarColor(24,1)" class="boxFive5"></div>
<div *ngIf="figura[24]==1" (click)="cambiarColor(24,0)" class="boxFiveOn5"></div>