<!--to incorporate icons-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!--box Name User-->
<div class="infoNombre">
<i class="fas fa-user iconFlex"></i>
<label class="name">Nombre</label>
<h3 class="nameMain">{{user.username}}</h3>
</div>

<!--box Name LastName-->
<div class="infoApellido">
    <i class="fas fa-user-friends iconFlex1"></i>
    <label class="name1">Apellidos</label>
    <h3 class="nameMain1">{{user.username}}</h3>
</div>

<!--box Info User-->
<div class="infoUsuario">
    <i class="fas fa-chevron-left iconFlex2"></i>
    <label class="name2">Nombre del usuario</label>
    <h3 class="nameMain2">{{user.username}}</h3>
</div>

<!--box Name rol-->
<div class="infoRol">
    <i class="fas fa-chair iconFlex3"></i>
    <label class="name3">Rol</label>
    <h3 class="nameMain3">{{user.username}}</h3>
</div>

<!--box Info create-->
<div class="infoCreacion">
    <i class="fas fa-calendar-day iconFlex4"></i>
    <label class="name4">Fecha de creacion</label>
    <h3 class="nameMain4">9 jul. 2019</h3>
</div>

<!--img ball-->
<img class="imgBall" 
src="https://st.depositphotos.com/1229718/2779/i/600/depositphotos_27799297-stock-photo-beach-ball.jpg">